/* Adapte o estilo conforme necessário */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00419d;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Cor de destaque do WhatsApp ao passar o mouse */
}

footer {
    background-color: #002c6a;
    color: #fff;
    padding: 1em;
    text-align: center;
}
