/* Adapte o estilo conforme necessário */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.whatsapp-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Cor de destaque do WhatsApp ao passar o mouse */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}
